body {
    margin: 0;
}

main {
    height:400px;
    width: 600px;
    background-color: black;
}

.block {
    float: left;
}

#block-01 {
    height: 400px;
    width:200px;
    background-color: yellow;
}

#block-02 {
    height: 400px;
    width: 244px;
    background-color: white;
    margin-left: 8px;
    margin-right: 8px;
}

#block-03 {
    height: 400px;
    width: 140px;
    background-color:red;
}